*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');


/* shared */
.grad-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn{
    padding: 15px 25px;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    }
/* nav */
header{
    padding: 0 100px;
}
.nav-container{
    height: 110px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.logo{
    display: flex;
    gap: 10px;
    padding-top: 35px;
    /* padding-left: 70px; */
}
.logo-img{
    width: 75px;
    height: 35px;
    padding-top: 7px;
}
.logo-text{
    font-size: 40px;
    font-weight: 700;
}
.pink{
    color: #FF42A5;
}
.menu-container>ul{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    font-size: 20px;
    align-items: center;
    list-style: none;
    padding-top: 30px;
}
.menu-container a{
    text-decoration: none;
    color: #3C354F;
}
.li{
    list-style: none;
    gap: 20px;
}
.follow{
    display: flex;
    justify-content: space-around;
    width: 262px;
    height: 56px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-right: 20px;
}
.follow>h4{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
}
.follow-img{
    width: 30px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    gap: 64px;
}
.banner-content h3{
    color: #0B0223;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
}
.banner-content h1{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list{
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
}
.banner-list li{
    color: #534C64;
    font-size: 25px;
    font-weight: 500;
    gap: 10px;
}
.down{
    list-style-image: url(./images/play.png);
}
.play-logo{
    list-style-image: url(./images/downlaod.png);
}
.support{
    list-style-image: url(./images/community.png);

}
.btn1{
    padding: 15px 25px;
    align-items: center;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-left: 25px;
    
}
.banner-img img{
    width: 500px;
}
.online-game{
    height: 500px;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    margin-bottom: 80px;
}
.online-game-content h3{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.online-game-content p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 48px;
}

.online-game-card{
    display: flex;
    justify-content: space-around;
    padding: 25px 150px;
}
.card img{
    width: 240px;
    height: 300px;
    border-radius: 16px;
}

.card h4{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
}
.play{
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.play-contant{
    padding: 150px 200px;
    text-align: right;
}
.play-contant h3{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 24px;
}

.play-contant p{
    width: 350px;
    color: #534C64;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}
.play-img{
    padding-left: 60px;
}
.img1{
    width: 534.833px;
    height: 550px;
    border-radius: 8px;
    position: relative;
    right: 110px;
}
.img2{
    width: 218.5px;
    height: 265.083px;
    border-radius: 8px;
    position: relative;
    bottom: 200px;
    right: 190px;
}
.button{
    height: 200px;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 120px;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
    gap: 25px;
}
.buton:hover{
    border: 1px solid #FF42A5;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.buton{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
}
.buton img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.buton h4{
    color: #0B0223;
    font-size: 16px;
    font-weight: 700;
}

.foot{
    height: 600px;
    font-family: Work Sans;
    background: #0B0223;
    color: aliceblue;
    align-items: center;
    text-align: center;
}
.foot-logo{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    gap: 20px;
}
.foot-logo img{
    width: 80px;
    height: 40px;
}
.foot-logo h3{
    font-size: 45px;
    font-weight: 700;
}
.foot-content-list,
.foot-term{
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 60px;
}
.foot-content-list, .foot-term li{
    list-style: none;
}
.foot-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 60px;
}
#youtube{
    width: 50px;
    height: 35px;
    padding-top: 4px;
}
.foot-icon img{
    width: 40px;
    height: 40px;
}
.copy{
    padding-top: 60px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* Responsive */
/* mobile */
@media screen and (max-width: 576px) {
    html, head, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .nav-container,
    .banner,
    .menu-container>ul,
    .play{
        flex-direction: column;
        align-items: center;
    }
    .nav-container,
    header{
        padding: 70px 90px;
    }
    .banner{
        height: 500px;
        padding-top: 250px;
        padding-left:5px ;
        padding-right: 5px ;
        padding-bottom: 200px;
    }
    .banner-img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .online-game{
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    .online-game p{
        padding-top: 15px;
    }
    .online-game-card{
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 20px;
    }
    .play-contant {
        padding: 170px 70px;
        text-align: right;
    }
    .play{
        padding-top: 1000px;
        padding-bottom: 250px;
    }
    .play-img{
        display: block;
        margin-left: 140px;
        width: 50%;
    }
    .play-contant {
        text-align: center;
    }
    .play-contant p {
        text-align: center;
    }
    .img1{
        width: 300px;
        height: 330px;
        position: relative;
        bottom: 40px;
    }
    .img2{
        width: 150px;
        height: 180px;
    }
    .button{
        padding-top: 70px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 130px;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
    }
    .buton{
        width: 110px;
        height: 70px;
        gap: 10px;
    }
    .buton img{
        width: 30px;
        height: 30px;
    }
    buton h4{
        font-size: 12px;
        gap: 5px;
    }
    .buton:hover{
        border: 1px solid #FF42A5;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .foot{
        height: 700px;
        font-family: work sans;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }
    .foot-content-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .foot-term {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .foot-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-left: 50px;

    }
    .copy{
        font-size: 12px;
        background: #0B0223;;
    }

}

/* Tab */

@media screen and (min-width: 576px) and (max-width: 960px) {
    html, head, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .nav-container,
    .banner,
    .menu-container>ul,
    .play{
        flex-direction: column;
        align-items: center;
    }
    .nav-container,
    header{
        padding: 70px 90px;
    }
    .banner{
        height: 500px;
        padding-top: 250px;
        padding-left:5px ;
        padding-right: 5px ;
        padding-bottom: 200px;
    }
    .banner-img img{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .online-game{
        margin: 120px;
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .online-game p{
        padding-top: 15px;
    }
    .online-game-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .play-contant {
        padding: 100px 70px;
        text-align: center;
    }
    .play p{
        text-align: center;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .play{
        padding-top: 300px;
        padding-bottom: 250px;
    }
    .play-img{
        display: block;
        margin-left: 320px;
        width: 50%;
    }
    .img1{
        width: 300px;
        height: 330px;
        position: relative;
        bottom: 40px;
    }
    .img2{
        width: 150px;
        height: 180px;
    }
    .button{
        margin-bottom: 100px;
        margin-top: 50px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        padding-bottom: 40px;
    }
    .buton{
        width: 200px;
        height: 70px;
        gap: 10px;
    }
    .buton img{
        width: 30px;
        height: 30px;
    }
    buton h4{
        font-size: 12px;
        gap: 5px;
    }
    .buton:hover{
        border: 1px solid #FF42A5;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .foot{
        height: 700px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }
    .foot-content-list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .foot-term {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .foot-icon{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        /* align-items: center; */
        padding-left: 10px;

    }
    .copy{
        font-size: 12px;
        background: #0B0223;;
    } 
}